<form id="makeCallExistingClient">
  <h3>Existing</h3>
  {{> cardInput }}
  <button>Send existing</button>
</form>

<form id="makeCallNotExistingClient" >
  <h3>Not Existing</h3>
  {{> cardInput }}
  <button >Send not existing</button>
</form>

<form id="endCallFrom" >
  <h3>End call</h3>
  {{> cardInput }}
  <button >End call</button>
</form>

<form id="pauseForm">
  <h3>Pause operator</h3>
  {{> operatorInput }}
  <button>Pause operator</button>
</form>

<form id="unpauseForm">
  <h3>Unpause operator</h3>
  {{> operatorInput }}
  <button>unpause operator</button>
</form>